<div class="container mt-5">
  <div class="jumbotron">
    <div class="form-group">
      <button class="btn btn-lg btn-outline-info col-12" (click)="close$.next()">Close all</button>
    </div>
    <div class="form-group mt-5">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" [formControl]="control" placeholder="Message">
      </div>
    </div>
    <div class="form-group mt-5">
      <button class="btn btn-lg btn-outline-info col-3" (click)="alert('info')">info</button>
      <button class="btn btn-lg btn-outline-success col-3" (click)="alert('success')">success</button>
      <button class="btn btn-lg btn-outline-warning col-3" (click)="alert('warning')">warning</button>
      <button class="btn btn-lg btn-outline-danger col-3" (click)="alert('danger')">danger</button>
    </div>
  </div>
</div>
